[Desktop Entry]
Exec=/usr/bin/appknitter.sh
Name=Create new .desktop file
Name[es]=Crear nuevo ejecutable .desktop
Name[en]=Create new .desktop file
Name[zh_CN]=创建新的 .desktop 文件
GenericName[es]=Crear nuevo ejecutable .desktop
GenericName[en]=Create new .desktop file
GenericName[zh_CN]=创建新的 .desktop 文件
Terminal=false
Type=Application
MimeType=application/octet-stream
X-DFM-MenuTypes=EmptyArea
X-Deepin-Vendor=user-custom
